html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  outline: 0;
}

a {
  text-decoration: none;
  color: #190b02;
}

*, *:before, *:after, html {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1, h2, h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ycont {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  background: url("../img/bg.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.wrapper--quiz, .wrapper--activateBtn {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.activateBtn {
  margin: auto;
  border: none;
  border-radius: 10px;
  padding: 15px 100px;
  background-color: #000000;
  transition: all .3s;
}

.activateBtn:hover {
  color: #000;
  box-shadow: inset 0 3px 0 #ffffff;
  background-color: #f9f9f9;
}

.wrapper--quiz {
  display: none;
  background-color: rgba(41, 41, 41, 0.91);
}

.ycont--quiz {
  padding: 0;
  max-width: 735px;
  max-height: 445px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 3px 0 #ffffff;
  border-radius: 19px;
  background-color: #f9f9f9;
}

.quiz--close {
  border: none;
  background-color: transparent;
  position: absolute;
  right: -25px;
  top: -10px;
}

.quiz--control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.quiz--control button {
  position: relative;
  z-index: 10;
  border: none;
  background-color: transparent;
}

.quiz--control button:first-child {
  transform: translate(-50%, 0);
}

.quiz--control button:last-child {
  transform: translate(50%, 0);
}

.quiz--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  padding-bottom: 0;
}

.quiz--header p {
  flex-shrink: 0;
  margin: 0;
  width: max-content;
  color: #919191;
  font-family: Tinos;
  font-size: 20px;
  font-weight: 400;
}

.quiz--content-el {
  display: none;
  padding: 20px 100px;
  margin: auto;
  color: #000;
}

.quiz--content-el h3, .quiz--content-el span {
  text-align: center;
  color: #919191;
  font-family: Tinos;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
}

.quiz--content-el span {
  color: #3b3b3b;
}

.quiz--content-elActive {
  display: block;
}

.quiz--content-variants {
  display: flex;
  flex-wrap: wrap;
}

.quiz--content-variants button {
  width: calc(50% - 10px);
  height: 65px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 20;
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

.quiz--content-variants button:nth-child(2n) {
  margin-right: 0;
  margin-left: 10px;
}

.quiz--content-variants button:nth-child(1), .quiz--content-variants button:nth-child(2) {
  margin-bottom: 10px;
}

.quiz--content-variants button:hover {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  background-image: linear-gradient(-11deg, #1758b2 0%, #58c3f4 100%);
}

.quiz--progressLine {
  width: 80%;
  display: flex;
}

.quiz--progressLine-el {
  width: 100%;
  height: 19px;
  border-radius: 9px;
  background-color: #e8e8e8;
}

.quiz--progressLine-el:not(:last-child) {
  margin-right: 20px;
}

.quiz--progressLine-elActive {
  background: repeating-linear-gradient(-55deg, #3c99dc, #3c99dc 10px, #50abe3 10px, #50abe3 20px);
}

.quiz--form {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 60px;
}

.quiz--form > * {
  width: 50%;
}

.quiz--form-left > * {
  max-width: 220px;
}

.quiz--form-left h3 {
  color: #919191;
  font-family: Tinos;
  font-size: 44px;
  font-weight: 400;
  font-style: italic;
}

.quiz--form-left h3 span {
  color: #3b3b3b;
  font-style: normal;
}

.quiz--form-left p {
  color: #5e5e5e;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.quiz--form label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-height: 60px;
  background-color: #fff;
  margin-bottom: 20px;
  z-index: 20;
}

.quiz--form label:not(:nth-child(2)) {
  margin-bottom: 10px;
}

.quiz--form label div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0 0 117px rgba(74, 173, 230, 0.16), inset 0 0 7px rgba(35, 96, 181, 0.27);
  background-color: #82c679;
  background-image: linear-gradient(-11deg, #1758b2 0%, #58c3f4 100%);
}

.quiz--form label img {
  flex-shrink: 0;
}

.quiz--form input {
  border: none;
  color: #acacac;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
}

.quiz--form input::placeholder {
  opacity: 1;
}

.quiz--form button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 259px;
  height: 70px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.quiz--form-right p {
  text-align: center;
  color: #828282;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.quiz--result {
  color: #000;
  margin: 0;
}

[data-actual="false"] {
  display: none;
}

[data-actual="true"] {
  display: block !important;
}

.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 289px;
  height: 99px;
  border: none;
  box-shadow: 0 12px 13px rgba(61, 118, 196, 0.2), 0 5px 0 #184583, 0 0 117px rgba(74, 173, 230, 0.16), inset 0 0 7px rgba(35, 96, 181, 0.27);
  border-radius: 11px;
  background-color: #74e5c7;
  background-image: linear-gradient(-11deg, #1758b2 0%, #58c3f4 100%);
  transition: all 0.3s;
  cursor: pointer;
}

.btn-blue:hover {
  box-shadow: unset;
}

.btn-blue p {
  margin: 0;
  text-shadow: 0 2px 0 rgba(100, 99, 99, 0.39);
  font-family: Roboto;
  font-size: 17px;
  text-transform: uppercase;
}

@media (min-width: 1530px) {
  .content--scroll {
    left: -270px;
  }
}

@media (max-width: 1370px) {
  .content--scroll {
    display: none;
  }
}

@media (min-height: 850px) {
  .content--title h1 {
    margin-bottom: 40px;
  }
  .content--title p {
    margin: 0 0 65px 5px;
  }
  .content--description img {
    top: -90px;
  }
  .content--description p {
    margin: 160px 45px 0 0;
  }
}

@media (min-height: 800px) {
  .wrapper--man {
    bottom: 0px;
  }
}

@media (min-height: 850px) {
  .wrapper--header {
    padding-bottom: 80px;
  }
}

@media (max-width: 1145px) and (min-width: 769px) {
  html, body {
    max-height: 100vh;
    height: 100%;
  }
}

@media (max-width: 1145px) {
  .wrapper--content {
    max-height: calc(100% - 170px);
    height: 100%;
  }
  .ycont--header-top {
    justify-content: space-between;
  }
  .ycont--header-bottom ul {
    margin-top: 20px;
  }
  .header-top--el:not(:last-child) {
    margin-right: 0;
  }
  .content--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content--title {
    max-width: 500px;
  }
  .content--title h1 {
    font-size: 45px;
  }
}

@media (max-width: 1024px) {
  .ycont--header-top, .ycont--header-bottom {
    display: none;
  }
  .ycont--mobileMenu {
    display: flex;
  }
  .content--description img {
    width: 450px;
    right: -128px;
  }
  .content--description p {
    margin: 105px 30px 0 0;
  }
  .btn-blue p {
    font-size: 15px;
  }
  .ycont--quiz {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  body {
    overflow-y: auto;
  }
  .ycont--quiz {
    max-height: 90%;
  }
  .quiz--content {
    margin: auto;
  }
  .quiz--content-el {
    padding: 20px;
  }
  .quiz--progressLine-el {
    width: 19px;
  }
  .quiz--header {
    width: max-content;
    padding: 60px 0 0 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .quiz--header p {
    margin-right: 20px;
  }
  .ycont--content {
    flex-direction: column;
  }
  .wrapper--man {
    height: 600px;
    right: 0;
    top: 150px;
    bottom: 0;
    overflow: hidden;
  }
  .wrapper--man img {
    top: 0;
    right: 25%;
    transform: translate(50%, 0);
  }
  .ycont--mobileMenu {
    flex-direction: column-reverse;
  }
  .header-top--el {
    align-items: center;
    justify-content: space-between;
  }
  .header-top--el:nth-child(2) {
    margin-bottom: 10px;
  }
  .content--description {
    display: none;
  }
  .content--name {
    justify-content: start;
  }
  .content--name img {
    display: none;
  }
}

@media (max-width: 520px) {
  .wrapper--man {
    height: auto;
    position: absolute;
    top: 170px;
  }
  .wrapper--man img {
    left: 0;
    height: 400px;
    width: auto;
  }
  .content--quiz > :first-child {
    flex-direction: column;
  }
  .content--quiz > :first-child button {
    margin: 0;
    margin-bottom: 20px;
  }
  .content--quiz > :first-child p {
    margin: 0;
  }
  .content--quiz > :last-child {
    display: none;
  }
}

@media (max-width: 400px) {
  .wrapper--man img {
    left: -100px;
  }
}
